.contenedor{
    width: 100%;
    max-width: 80em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    background-color: rgba(0,0,0, 0.05);
    backdrop-filter: blur(30px);
    border-radius: 0.5em;
    border: solid 0.15em rgba(0, 0, 0, 0.1);
}