.table {
    width: 96%;
    max-height: 40em;
    max-width: 70em;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2em;
    overflow-y: auto;
}

.table-tag,
.table-tag-header {
    width: 100%;
    border-collapse: collapse;
    border-radius: 1em;
    box-shadow: 3px 3px 10px rgba(0,0,0, 0.3);
}

.table-tag-header{
    width: 96%;
    max-width: 70em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}


.table-tag--tr,
.table-tag-header--tr{
    text-align: center;
    background-color: white;
}

.table-tag-header--tr{
    width: 100%;
    background-color: rgba(54, 43, 91, 0.8);
    color: white;
}

.table-tag--tr:nth-child(even){
    background-color: #F5F5F5;
}

.table-tag-header--tr--th:first-child{
    border-top-left-radius: 1em;
}

.table-tag-header--tr--th:last-child{
    border-top-right-radius: 1em;
}

.table-tag--tr:last-child .table-tag--tr--td:first-child{
    border-bottom-left-radius: 1em;
}

.table-tag--tr:last-child .table-tag--tr--actions{
    border-bottom-right-radius: 1em;
}

.table-tag--tr--th,
.table-tag--tr--td,
.table-tag-header--tr--th{
    font-size: 1.1em;
    font-weight: 500;
    text-align: center;
    padding: 1em 2em;
    width: 16.66%;
}

.table-tag-header--tr--th {
    font-size: 1.1em;
    font-weight: 800;
}


.table-tag--tr--actions--btn {
    display: inline-block;
    margin: 0 0.5em;
    width: 2em;
    height: 2em;
    border: none;
    border-radius: 50%;
    box-shadow: 3px 3px 3px rgba(0,0,0, 0.3);
    cursor: pointer;
}

.table-tag--tr--actions--btn:active{
    transform: translate(1px, 1px);
    box-shadow: 3px 3px 3px rgba(0,0,0, 0.1);
}

.table-tag--input-edit{
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0.2em 0.5em;
    outline: none;
    border-radius: 0.5em;
    border: solid 0.1em rgba(0,0,0, 0.5);
}